@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
        url("../fonts/roboto-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("../fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Retroma Vibes Regular";
    src: url("../fonts/retromavibesregular-rgwxb-webfont.woff2") format("woff2"),
        url("../fonts/retromavibesregular-rgwxb-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Permanent Marker Regular";
    src: url("../fonts/permanentmarker-regular-webfont.woff2") format("woff2"),
        url("../fonts/permanentmarker-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins Black";
    src: url("../fonts/poppins-black-webfont.woff2") format("woff2"),
        url("../fonts/poppins-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
        url("../fonts/poppins-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
