/* Custom styles */
:root {
    --main-red: #da4453;
    --dark-red: #6d222a;
    --site-black: #2d292d;
    --site-white: #fffef5;
    --font-size: 16px;
}

/* Layout */
body,
html {
    height: 100%;
}

main section {
    min-height: 100vh;
}

#hero-img {
    transform: rotate(-2deg);
}

.text-left {
    text-align: left !important;
}

.form-control {
    background-color: var(--dark-red);
    border: 3px solid white;
    border-radius: 3px;
}

/* Fonts */
body {
    color: var(--site-black);
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
    color: var(--site-black);
    font-family: "Poppins", sans-serif;
}

#into-text,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 900 !important;
}

.display-6 {
    font-family: "Retroma Vibes Regular", sans-serif;
}

.btn {
    color: var(--main-red);
    font-family: "Permanent Marker Regular", sans-serif;
}

.btn:hover {
    color: var(--dark-red);
}

label {
    font-family: "Permanent Marker Regular", sans-serif;
    font-size: 1.5rem;
}

.lead {
    font-weight: 500;
}

.white-bg .btn-light {
    color: var(--site-white);
}

/* Background colours */
.red-bg {
    background-color: var(--main-red);
}

.black-bg {
    background-color: var(--site-black);
}

.white-bg {
    background-color: var(--site-white);
}

.white-bg .btn-light {
    background-color: var(--main-red);
}

.white-bg .btn-light:hover {
    background-color: var(--dark-red);
}

.bg-markdown {
    background-color: var(--site-black) !important;
}

.bg-git {
    background-color: #F05133 !important;
}

.bg-graphql {
    background-color: #E535AB !important;
}

.bg-node {
    background-color: #689F63 !important;
}

.bg-npm {
    background-color: #CB3837 !important;
}

.bg-postgresql {
    background-color: #336791 !important;
}

.bg-bootstrap {
    background-color: #9013FE !important;
}

.bg-html {
    background-color: #E34F26 !important;
}

.bg-css {
    background-color: #264DE4 !important;
}

.bg-electron {
    background-color: #00d5ff !important;
}

/* Misc */
/* #footer-bg {
    box-shadow: 0px -10px 26px 5px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -10px 26px 5px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -10px 26px 5px rgba(0, 0, 0, 0.76);
} */

/* Link styles */
a {
    box-shadow: inset 0 -0.5em var(--main-red);
    color: var(--site-black);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
}

a:hover {
    box-shadow: inset 0 -1.5em var(--main-red);
    color: var(--site-white);
}

.red-bg a {
    box-shadow: inset 0 -0.5em var(--site-black);
    color: var(--site-white);
}

.red-bg a:hover {
    box-shadow: inset 0 -1.5em var(--site-black);
    color: var(--main-red);
}

.img-link {
    box-shadow: none;
}

.img-link:hover {
    box-shadow: none;
}

/* Selection styles */
/* Selection styles for Safari and other browsers */
::selection {
    background: var(--dark-red);
    color: var(--site-white);
}
