/* Custom styles */
:root {
    --main-red: #da4453;
    --dark-red: #6d222a;
    --site-black: #2d292d;
    --site-white: #fffef5;
    --font-size: 16px;
}

/* Layout */
body,
html {
    height: 100%;
}

main section {
    min-height: 100vh;
}

.text-left {
    text-align: left !important;
}

.form-control {
    background-color: var(--dark-red);
    border: 3px solid white;
    border-radius: 3px;
}

/* Fonts */
body {
    color: var(--site-black);
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
    color: var(--site-black);
    font-family: "Poppins", sans-serif;
}

#into-text,
.display-2,
.display-3 {
    font-weight: bold !important;
}

.display-6 {
    font-family: "Retroma Vibes Regular", sans-serif;
}

.btn {
    color: var(--main-red);
    font-family: "Permanent Marker Regular", sans-serif;
}

.btn:hover {
    color: var(--dark-red);
}

label {
    font-family: "Permanent Marker Regular", sans-serif;
    font-size: 1.5rem;
}

.lead {
    font-weight: 500;
}

/* Background colours */
.red-bg {
    background-color: var(--main-red);
}

.black-bg {
    background-color: var(--site-black);
}

.white-bg {
    background-color: var(--site-white);
}

/* Misc */
#footer-bg {
    box-shadow: 0px -10px 26px 5px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -10px 26px 5px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -10px 26px 5px rgba(0, 0, 0, 0.76);
}

#hero-img {
    transform: rotate(-2deg);
}

.svg-image {
    fill: var(--white);
    height: 80px;
    padding: 5px;
    width: 80px;
}
