/* Custom styles */
:root {
    /* Color variables */
    --main-red: #da4453;
    --dark-red: #6d222a;
    --site-black: #2d292d;
    --site-white: #fffef5;
    --font-size: 16px;
}

/* Layout */
body,
html {
    height: 100%;
}

main section {
    min-height: 100vh;
}

#hero-img {
    /* Initial rotation and scale for hero image */
    transform: rotate(-2deg) scale(0.8);
}

.text-left {
    /* Force text alignment to left */
    text-align: left !important;
}

.form-control {
    /* Styling for form controls */
    background-color: var(--dark-red);
    border: 3px solid white;
    border-radius: 3px;
}

/* Fonts */
body {
    color: var(--site-black);
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
    color: var(--site-black);
    font-family: "Poppins", sans-serif;
}

#into-text,
.display-2,
.display-3,
.display-4,
.display-5 {
    /* Font weight for specific elements */
    font-weight: 900 !important;
}

.display-6 {
    font-family: "Retroma Vibes Regular", sans-serif;
}

.btn {
    /* Styling for buttons */
    color: var(--main-red);
    font-family: "Permanent Marker Regular", sans-serif;
}

.btn:hover {
    /* Button hover effect */
    color: var(--dark-red);
}

label {
    /* Styling for labels */
    font-family: "Permanent Marker Regular", sans-serif;
    font-size: 1.5rem;
}

.lead {
    /* Font weight for lead text */
    font-weight: 500;
}

.white-bg .btn-light {
    /* Styling for buttons on white background */
    color: var(--site-white);
}

textarea:not(:focus):not(:placeholder-shown),
input:not(:focus):not(:placeholder-shown),
input::placeholder,
textarea::placeholder {
    /* Styling for inactive input and textarea text */
    color: var(--site-white);
}

/* Background colours */
.red-bg {
    background-color: var(--main-red);
}

.black-bg {
    background-color: var(--site-black);
}

.white-bg {
    background-color: var(--site-white);
}

.white-bg .btn-light {
    background-color: var(--main-red);
}

.white-bg .btn-light:hover {
    background-color: var(--dark-red);
}

.bg-markdown {
    background-color: var(--site-black) !important;
}

.bg-git {
    background-color: #f05133 !important;
}

.bg-graphql {
    background-color: #e535ab !important;
}

.bg-node {
    background-color: #689f63 !important;
}

.bg-npm {
    background-color: #cb3837 !important;
}

.bg-postgresql {
    background-color: #336791 !important;
}

.bg-bootstrap {
    background-color: #9013fe !important;
}

.bg-html {
    background-color: #e34f26 !important;
}

.bg-css {
    background-color: #264de4 !important;
}

.bg-electron {
    background-color: #00d5ff !important;
}

/* Link styles */
a {
    /* General link styling */
    box-shadow: inset 0 -0.5em var(--main-red);
    color: var(--site-black);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
}

a:hover {
    /* Link hover effect */
    box-shadow: inset 0 -1.5em var(--main-red);
    color: var(--site-white);
}

.red-bg a {
    /* Link styling on red background */
    box-shadow: inset 0 -0.5em var(--site-black);
    color: var(--site-white);
}

.red-bg a:hover {
    /* Link hover effect on red background */
    box-shadow: inset 0 -1.5em var(--site-black);
    color: var(--main-red);
}

.img-link {
    /* Styling for image links */
    box-shadow: none;
}

.img-link:hover {
    /* Image link hover effect */
    box-shadow: none;
}

/* Selection styles */
/* Selection styles for Safari and other browsers */
::selection {
    background: var(--dark-red);
    color: var(--site-white);
}

/* Animation styles */
.show-on-scroll {
    /* Initial opacity and scale for animation */
    opacity: 0;
    transform: scale(0.8);
    -webkit-transition: opacity 0.5s ease-out, transform 0.3s ease-out;
    transition: opacity 0.5s ease-out, transform 0.3s ease-out;
    transition-delay: 0.25s; /* Add a 0.25s delay */
}

.show-on-scroll.is-visible {
    /* Final opacity and scale for animation when visible */
    opacity: 1;
    transform: scale(1);
}

#hero-img.show-on-scroll.is-visible {
    /* Additional transformation for hero image when visible */
    transform: rotate(-2deg) scale(1);
}
